h1 {
    color: yellow;
}

#masterDiv {
    display: flex;
}

.innerDiv {
    flex-grow: 1;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}

.innerDiv p {
    background-color: green;
}